<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubaid Memon</title>
    <link rel="stylesheet" href="\static\portfelio\style.css">
</head>

<body>
    <header>
        <div class="container">

            <nav>


                <div class="head">
                    <h1>Ubaid Memon</h1>
                </div>

                <ul>
                    <li><a href="#Intro">Intro</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#project">Project</a></li>
                </ul>
            </nav>
        </div>

        <section class="Introsec" id="Intro">
            <div class="section">
                <div class="tittle">
                    <h2>HI I am a Ubaid</h2>
                    <h2>I am a Web developer & Data Analyst</h2>
                    <p>@Sylani Mass IT Trainning</p>
                    <a href="static\portfelio\Ubaid Memon new.pdf" class="cv" target="_blank">Download CV</a>
                </div>

                <div class="img">
                    <img src="static\img\Snapchat-2136695191.png" alt="">
                </div>

            </div>
        </section>



    </header>
    <section class="skills-section" id="skills">
        <div class="skills">
            <h2>Skills</h2>
            <div class="skillcon">
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\python.png" alt="">
                    </div>
                    <span >90%</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\pandas.jpeg" alt="">
                    </div>
                    <span>90%</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\matplotlib.jpeg" alt="">
                    </div>
                    <span>70%</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\css.png" alt="">
                    </div>
                    <span>60%</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\html.png" alt="">
                    </div>
                    <span>80</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\django.jpeg" alt="">
                    </div>
                    <span>60%</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\flask.png" alt="">
                    </div>
                    <span>60%</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\numpy.png" alt="">
                    </div>
                    <span>70%</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\seaborn.png" alt="">
                    </div>
                    <span>80%</span>
                </div>
                <div class="skill1">
                    <div class="imgnew">
                        <img src="static\img\new.png" alt="">
                    </div>
                    <span>50%</span>
                </div>


            </div>
        </div>
        </div>
    </section>

    <section class="aboutus" id="about">
        <div class="aboutcon">
            <div class="tittle">
                <h2>About US</h2>
            </div>
            <div class="pera">
                <p>My name is ubaid i am a student for Data Science and Technalogy i have 1 year of experience in Python | Django
                    | Data Analyst i have must may be experience of Data Analyst i have learn 4 python module in Data Analyast like Pandas | Numpy | Matplotlib  | Seaborn and i have after laerning in Data Science Technalogy,Machine Learning modules and i am currently learning ML Models and Data Science
                </p>
            </div>
        </div>
    </section>
    <section class="Services" id="services">
        <h2>Services</h2>
        <div class="scontainer">
            <div class="service1 service">
                <div class="s1img">
                    <img src="static\img\s1.jpeg" alt="">
                </div>
                <div class="stittle">
                    <h3>Data Cleaning</h3>
                </div>
                <div class="desc">
                    <p>Our Data Cleaning service ensures your data is accurate, consistent, and ready for analysis. We specialize in identifying and rectifying errors, removing duplicates, and standardizing data formats to enhance the quality and reliability of your data</p>
                </div>
            </div>
            <div class="service2 service">
                <div class="s1img">
                    <img src="static\img\s2.jpeg" alt="">
                </div>
                <div class="stittle">
                    <h3>Web Design</h3>
                </div>
                <div class="desc">
                    <p>Transform your vision into a stunning online presence with our HTML and CSS web design service. We create visually appealing, responsive websites that provide an exceptional user experience. From layout design to style customization, we ensure your site is both attractive and functional across all devices. Let us bring your brand to life with clean, modern, and efficient web design.</p>
                </div>
            </div>
            <div class="service2 service">
                <div class="s1img">
                    <img src="static\img\s3.jpeg" alt="">
                </div>
                <div class="stittle">
                    <h3>Django Bakends</h3>
                </div>
                <div class="desc">
                    <p>We offer tailored Django backend solutions, delivering scalable and secure server-side applications. Our service includes custom API development, database management, authentication, and performance optimization. Trust us to build robust backends that seamlessly integrate with your front-end systems and meet your business needs.</p>
                </div>
            </div>
            <div class="service2 service">
                <div class="s1img">
                    <img src="static\img\s4.jpeg" alt="">
                </div>
                <div class="stittle">
                    <h3>Data Analysis</h3>
                </div>
                <div class="desc">
                    <p>**Data Analysis Service**

                        Unlock actionable insights with our Data Analysis Service. We provide comprehensive data evaluation, including data cleaning, statistical analysis, and trend identification. Our expert team transforms raw data into clear, actionable insights to drive informed decisions and strategic planning.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="Services" id="project">
        <h2>Projects</h2>
        <div class="scontainer">
            <div class="service1 service">
                <div class="s1img">
                    <img src="static\img\Capture.PNG" alt="">
                </div>
                <div class="stittle">
                    <h3>Xevora Solutions</h3>
                </div>
                <div class="desc">
                    <p>This Project me and my friend contributed for this sucessful project the project fetures is user can visted the web and signup and login will the seperate dashboard and view and read the blogs all over authentication are used this website was bakend in django python
                    </p>
                </div>
                <div class="button">
                    <a href="https://youtu.be/_JTXuFohuHI" target="_blank">View Project</a>
                </div>
            </div>
            <div class="service2 service">
                <div class="s1img">
                    <img src="static\img\Capturesylani.PNG" alt="">
                </div>
                <div class="stittle">
                    <h3>Sylani Student Registration</h3>
                </div>
                <div class="desc">
                    <p>This Project i have contributed and idea of my brain for sylani student web this project student 
                        may be registered and filter the data for students student can register the site automatic regenarate roll no and it is very useful for sylani
                    </p>
                </div>
                <div class="button">
                    <a href="https://youtu.be/qYb7hcv2YPo" target="_blank">View Project</a>
                </div>
            </div>
            <div class="service2 service">
                <div class="s1img">
                    <img src="static\img\login.png" alt="">
                </div>
                <div class="stittle">
                    <h3>Register & Login Page Flask</h3>
                </div>
                <div class="desc">
                    <p>this project i have write bakend in flask python
                        i have a hole idea to used user authenthecation system in flask 
                        and frontend design html css and database postgres sql this poject user registeration and login with the seperate dashboard
                    </p>
                </div>
                <div class="button">
                    <a href="https://youtu.be/yRE6N1C5GuU" target="_blank">View Project</a>
                </div>
            </div>
            <div class="service2 service">
                <div class="s1img">
                    <img src="static\img\powerbidata.png" alt="">
                </div>
                <div class="stittle">
                    <h3>Data Cleaning & Report</h3>
                </div>
                <div class="desc">
                    <p>The "Power BI Reporting for E-Commerce Data" project focuses on creating interactive and insightful Power BI dashboards to analyze and visualize e-commerce performance. This project aims to provide actionable insights into sales trends, customer behavior 
                         
                    </p>
                </div>
                <div class="button">
                    <a href="https://youtu.be/gI0ODdGIgx8" target="_blank">View Project</a>
                </div>
            </div>
            <div class="service2 service">
                <div class="s1img">
                    <img src="static\img\tipsdata.png" alt="">
                </div>
                <div class="stittle">
                    <h3>Tips Data Analysis</h3>
                </div>
                <div class="desc">
                    <p>Begin with data cleaning in Pandas, focusing on inspecting, filtering, and handling missing data. Use Matplotlib for basic plotting, customizing visuals, and creating subplots for comparative analysis. Leverage Seaborn for advanced statistical plots, heatmaps, and enhancing visual aesthetics.</p>
                </div>
                <div class="button">
                    <a href="https://youtu.be/z_QlU58fJ3U" target="_blank">View Project</a>
                </div>
            </div>
           
           
               
           
        </div>
    </section>
    <section class="Contactus" id="contact">
        <h2>Contact us</h2>
        <div class="contactcon">
            <div class="side">
                <div class="email f1">
                    <img src="static\img\email.png" alt="">
                    <p>ubaidmemon530@gmail.com</p>

                </div>
                <div class="phone f1">
                    <img src="static\img\phone.png" alt="">
                    <p>92-3216740459</p>
                </div>
                <div class="links">
                    <a href="https://github.com/ubaid975"><img src="static\img\github.jpeg" alt=""></a>
                    <a href="https://www.facebook.com/ubaid.memon.5836711/"><img src="static\img\facebook.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/ubaid-memon-b39253310/"><img src="static\img\linkdin.png" alt=""></a>
    
                </div>
            </div>
            
            <div class="form f1">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="fname input">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="fname" required>
                    </div>
                    <div class="fname input">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lname" required>
                    </div>
                    <div class="phone input">
                        <label for="phone">Phone</label>
                        <input type="number" id="phone" name="phone">
                    </div>
                    <div class="fname input">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="fname input">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" required></textarea >
                    </div>
                    
                    <button type="submit">Submit</button>
                    <div class="message">
                        {% for message in messages %}
                            <p>{{message}}</p> 
                        {% endfor %}
                    </div>
                </form>
                
            </div>
        </div>
    </section>
    

    <footer>
        <div class="footercontainer">
            <p>© 2024 Ubaid Memon.     All rights reserved.</p>
        </div>
    </footer>
</body>

</html>